<form class="form" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && titleField.errors}">
    <label>Title</label>
    <input type="text" name="title" [(ngModel)]="title" #titleField="ngModel" [disabled]="processing" (focus)=resetError() required />
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && yearField.errors}">
    <label>Year</label>
    <input type="year" name="year" [(ngModel)]="year" #yearField="ngModel" minlength="4" maxlength="4" [disabled]="processing" (focus)=resetError() />
  </div>

  <div class="submit-button-container">
    <button class="submit-button" type="submit"><span class="first-letter">S</span>earch</button>
  </div>
</form>

<div class="error" *ngIf="feedbackEnabled && titleField.errors">
  <p *ngIf="titleField.errors.required" class="validation">Title required</p>
</div>

<div class="error" *ngIf="feedbackEnabled && yearField.errors">
  <p *ngIf="yearField.errors.minlength || yearField.errors.maxlength" class="validation">Year must have 4 digits</p>
</div>

<div class="error" *ngIf="noResults">
  <span>No results</span>
</div>

<app-films-list
  [films]="films"
  [page]="page"
  [totalPages]="totalPages"
  (previousPg)="onPreviousPage($event)"
  (nextPg)="onNextPage($event)">
</app-films-list>
