<div class="navbar">
    <a class="logo" [routerLink]="['/films']"><span class="first-letter">F</span>LIBRARY</a>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <a class="navbar-link" *ngIf="!loading && !!user" [routerLink]="['/films']">{{user.username}}</a>
      <a class="navbar-link" *ngIf="!loading && !!user" (click)="logout()">Logout</a>
      <a class="navbar-link" *ngIf="!loading && !user" [routerLink]="['/login']">Login</a>
      <a class="navbar-link" *ngIf="!loading && !user" [routerLink]="['/signup']">Signup</a>
    </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="first-footer">
    Get connected with us on social networks!
  </div>
  <div class="second-footer">
    <span>@2018 Copyright:</span><a class="footer-link" [routerLink]="['/films']">Flibrary.com</a>
  </div>
</footer>