<div class="main-container">
  <div class="metascore-container">
    <div class="metascore" [ngClass]="{'green': film.Metascore > 60, 'yellow': film.Metascore > 39, 'red': film.Metascore > 0}">
      <span>{{film.Metascore}}</span>
    </div>
    <div class="metascore-detail">
      <span class="metascore-text">Metascore</span>
      <span *ngIf="film.Metascore > 80" class="metascore-description">Universal Acclaim</span>
      <span *ngIf="film.Metascore > 60 && film.Metascore < 81" class="metascore-description">Generally Favorable Reviews</span>
      <span *ngIf="film.Metascore > 39 && film.Metascore < 61" class="metascore-description">Mixed or Average Reviews</span>
      <span *ngIf="film.Metascore > 19 && film.Metascore < 40" class="metascore-description">Generally Unfavorable Reviews</span>
      <span *ngIf="film.Metascore < 20" class="metascore-description">Overwhelming Dislike</span>
    </div>
    <div class="user-score">
      <span class="global-rate" [ngClass]="{'green': film.score > 60, 'yellow': film.score > 39, 'red': film.score > 0}">{{score}}</span>
    </div>
    <div class="metascore-detail">
      <span class="metascore-text">Users Score</span>
      <span *ngIf="film.score > 80" class="metascore-description">Universal Acclaim</span>
      <span *ngIf="film.score > 60 && film.score < 81" class="metascore-description">Generally Favorable Reviews</span>
      <span *ngIf="film.score > 39 && film.score < 61" class="metascore-description">Mixed or Average Reviews</span>
      <span *ngIf="film.score > 19 && film.score < 40" class="metascore-description">Generally Unfavorable Reviews</span>
      <span *ngIf="film.score < 20" class="metascore-description">Overwhelming Dislike</span>
    </div>
    <div class="vote-container">
      <span id="vote-text" class="vote-text" *ngIf="favourite">Vote now</span>
      <div id="votes" class="vote" *ngIf="favourite">
        <a id="vote1" [ngClass]="{'yellow': film.userScore == 1}" (click)="vote(film.imdbID, 1)">1</a>
        <a id="vote2" [ngClass]="{'yellow': film.userScore == 2}" (click)="vote(film.imdbID, 2)">2</a>
        <a id="vote3" [ngClass]="{'yellow': film.userScore == 3}" (click)="vote(film.imdbID, 3)">3</a>
        <a id="vote4" [ngClass]="{'yellow': film.userScore == 4}" (click)="vote(film.imdbID, 4)">4</a>
        <a id="vote5" [ngClass]="{'yellow': film.userScore == 5}" (click)="vote(film.imdbID, 5)">5</a>
        <a id="vote6" [ngClass]="{'yellow': film.userScore == 6}" (click)="vote(film.imdbID, 6)">6</a>
        <a id="vote7" [ngClass]="{'yellow': film.userScore == 7}" (click)="vote(film.imdbID, 7)">7</a>
        <a id="vote8" [ngClass]="{'yellow': film.userScore == 8}" (click)="vote(film.imdbID, 8)">8</a>
        <a id="vote9" [ngClass]="{'yellow': film.userScore == 9}" (click)="vote(film.imdbID, 9)">9</a>
        <a id="vote10" [ngClass]="{'yellow': film.userScore == 10}" (click)="vote(film.imdbID, 10)">10</a>
      </div>
    </div>
  </div>
</div>
