
/* ---- reset ---- */

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  background-color: #333333;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 60px;
}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: ffffff;
  background: #333333;
}

#site-footer {
  color: ffffff;
  padding: 60px 0;
  background: #333333;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.first-letter {
  color: #ff0000;
}

.form {
  background-color: #000000;
  margin: 50px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 15px 5px 0 10px;
}

.form input {
  margin: 0 10px;
  font-size: 1.5em;
}

.submit-button-container {
  text-align: right;
  margin: 30px 10px 15px 0;
 }

 .submit-button {
   background-color: #ffffff;
  color: #000000;
  font-size: 1em;
  padding: 5px;
 }

 .field {
   display: flex;
   flex-direction: column;
 }